$maincolor: #297666
$seconderycolor: #ffa800

html
  font-size: 18px
  font-family: "q"

body
  position: relative
  overflow-x:  hidden



h1
  font-family: "b"

p
  font-size: 1rem

.section-header
  font-size: 1.5rem
  text-decoration: underline
  margin-left: 4em
