header
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 18vh
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  z-index: 1


.logo
  height: 100%
  display: inline-block
  img
    height: 100%
    width: auto

.header-btn
  height: 3em
  width: 3em
  border-radius: 50%
  position: absolute
  bottom: 0
  cursor: pointer
  background-color: white
  // font-size: 1rem
  &.nav
    left: 3em
    span
      width: 1em
      height: 2px
      display: block
      margin-bottom: .2em
      position: relative
      left: 1em
      background-color: $maincolor
    p
      color: $maincolor
      font-size: .8rem
      text-transform: uppercase
      text-align: center
      margin-top: .5em
  &.share
    right: 3em
    background: url("../Sources/Icons/Share.svg") no-repeat center, white
    background-size: 1.5em

.section-indicator
  height: 50vh
  width: 1.5em
  border-radius: 2em
  position: fixed
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  align-content: center
  top: 25vh
  left: 3.75em
  z-index: 100
  background-color: rgba(255, 255, 255, 0.73)
  transition: all .6s ease-in-out
  span
    height: .7em
    width: .7em
    border-radius: 50%
    background-color: white
    cursor: pointer
    z-index: 1
    position: relative
    border: 2px solid transparent
    transition: all .6s ease-in-out
  &.landing-section
    span:first-child
      transform: scale(1.5)
  &.community-section
    span:nth-child(2)
      transform: scale(1.5)
  &.plan-section
    span:nth-child(3)
      transform: scale(1.5)
      border: 2px solid $maincolor
  &.style-section
    background: rgba($maincolor, .4)
    span:nth-child(4)
      transform: scale(1.5)
  &::after
    content: ""
    width: 1px
    height: 90%
    position: absolute
    top: 5%
    left: calc(50% - .5px)
    background-color: white
    z-index: 0
